.div-1{
        background-color: rgb(245,240,230);
        display: inline-block;
        width: 100%;
        scroll-margin-top: 152.5px;
}
.div-2{
        background-image: url('https://www.ucsd.edu/_resources/img/bg-orbs-1.jpg');
        display: inline-block;
        width: 100%;
        color: white;
        scroll-margin-top: 152.5px;
}
li{
        overflow: hidden;
        float: left;
        font-size: 28;
}
li a{
        display: block;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
}
li a:hover{
        background-color: #182b49;
        color: white;
}
#navbar{
        position: sticky;
        top : 0;
        background-color: white;
}
ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        max-width: 400;
}
.div-3{
        background-color: rgb(245,240,230);
        display: inline-block;
        width: 100%;
        scroll-margin-top: 152.5px;
}
.wrapper {
        display: grid;
        gap: 25px;
        background-color: rgb(245,240,230);
        grid-template-columns : 1fr 1fr 1fr 1fr;
}
.one{
        grid-column : 1;
        grid-row: 1;
        background-color: #182b49;
        overflow: scroll;
        max-height: 500px;
        color: white;
}
.two{
        grid-column : 2;
        grid-row: 1;
        background-color: #182b49;
        overflow: scroll;
        max-height: 500px;
        color: white;
}
.three{
        grid-column : 3;
        grid-row: 1;
        background-color: #182b49;
        overflow: scroll;
        max-height: 500px;
        color: white;
}
.four{
        grid-column : 4;
        grid-row: 1;
        background-color: #182b49;
        gap: 25px;
        overflow: scroll;
        max-height: 500px;
        color: white;
}
@media (max-width:799px){
        ul{
                display: none
        }
        .logo{
                max-width: 75%;
        }
        h2{
                font-size: 24;
        }
        p{
                font-szie: 20;
        }
        .wrapper{
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 25px;
        }
        .one{
                grid-column: 1;
                grid-row: 1;
                background-color: #182b49;
                max-height: 500;
                overflow: scroll;
                color: #ffffff;
        }
        .two{
                grid-column: 2;
                grid-row: 1;
                background-color: #182b49;
                max-height: 500;
                overflow: scroll;
                color: #ffffff;
        }
        .three{
                grid-column: 1;
                grid-row: 2;
                background-color: #182b49;
                max-height: 500;
                overflow: scroll;
                color: #ffffff;
        }
        .four{
                grid-column: 2;
                grid-row: 2;
                background-color: #182b49;
                max-height: 500;
                overflow: scroll;
                color: #ffffff;
        }
}


